<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<div ng-controller="accountController">
    <h2>
        MY ACCOUNT
    </h2>
    <button class="btn btn-success btn-lg" ng-click="options()">Go to Options</button>
    <button class="btn btn-danger btn-lg" ng-click="logout()">logout</button>
    <br><br>
    <label>Wallet Balance</label>
    <input type="number" name="" ng-model="wallet" id="" value="" readonly>
    <hr>
    <div class="row">
        <label>Mobile Number</label>
            <input type="" name="" ng-model="mobile" readonly>
            <br><br>
            <label>No. Of Referrals</label>
            <input type="" name="" ng-model="count" readonly>
            <br><br>
            <label>Referralcode Used during signup</label>
            <input type="" name="" ng-model="code" id="" readonly>
            <label></label>
            <input type="text" ng-model="id" readonly hidden>
            <br><br>
            <label>FirstName</label>
            <input type="" name="" ng-model="fname" id="" value="">
            <br><br>
            <label>LastName</label>
            <input type="" name="" ng-model="lname" id="" value="">
            <br><br>
            <label>Email Id</label>
            <input type="" name="" ng-model="email" id="" value="">
            <br><br>
            <button class="btn btn-info btn-lg" ng-click="update()">Update</button><br><br>
    </div>
</div>