<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
  
</style>
<div ng-controller="bankController">
    <h2>
        BANK DETAILS
    </h2>
    <button class="btn btn-success btn-lg" ng-click="options()">Go to Options</button>
    <button class="btn btn-danger btn-lg" ng-click="logout()">logout</button>
    <br><br>
    <label>Wallet Balance</label>
    <input type="number" name="" ng-model="wallet" id="" value="" readonly>
    <hr>
    <p>Only BankName will be shown to user-- Since All the details are saved after encryption only!!</p>
    <p> The Card No, Account No will be encrypted and saved </p>
    BankName:<input ng-model="search" type="text">
<div class="container">
    <ul class="list-group">
        
        <li class="list-group-item"  ng-repeat="bank in banks | filter:search">
            <a ng-href='{{"#/user/"+id+"/bank/"}}{{bank.bankName}}'>{{bank.bankName}}</a>
        </li>
    </ul>
    </div>
    <!-- <table>
        <tr>
            <td>BankName</td>
            <td>ACC NO</td>
            <td>CARD NO</td>
        </tr>
        <tr ng-repeat="x in banks">
            <td>{{x.bankName}}</td>
            <td>{{x.accNo}}</td>
            <td>{{x.cardNo}}</td>
            
        </tr>
    </table>--> <br>You can Add Bank details
    <input ng-model="id" type="text"  hidden readonly><br><br> BANK NAME: <input ng-model="bname" type="text" required><br><br>    CARD NO: <input ng-model="card" type="text" required><br><br> ACC NO:<input ng-model="acc" type="text" required><br><br>
    <button class="btn btn-info btn-lg" ng-click="add()">Add Bank</button>

    <br>
    <br>
</div>

</div>