<style>
    tbody { cursor: pointer; }
    </style>
<div ng-controller="friendController">
    <h2>
        FRIEND DETAILS
    </h2>
    <button class="btn btn-success btn-lg" ng-click="options()">Go to Options</button>
    <button class="btn btn-danger btn-lg" ng-click="logout()">logout</button>
    <br><br>
    <label>Wallet Balance</label>
    <input type="number" name="" ng-model="wallet" id="" value="" readonly>
    <hr>
    <p>Friend Names Will Be Displayed</p>
  <!--  Friend: <input ng-model="search" type="text">
    <div class="container">

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="friend in friends | filter:search">
                <a ng-href='{{"#/user/"+id+"/friend/"}}{{friend.mobileNumber}}'>{{friend.firstName}}{{friend.lastName}}</a>
            </li>
        </ul>
    </div>
    -->
    <div class="alert alert-info">
        <p>Search Query: {{ searchfriend }}</p>
    </div>

    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search Friends" ng-model="searchfriend">
            </div>
        </div>
    </form>
    <table class="table table-hover table-striped  ">
        <thead>
            <tr>
                <th>
                    <a href='{{"#/user/"+id+"/friend"}}' ng-click="sortType = 'firstName'; sortReverse = !sortReverse">

                First Name
                 <span ng-show="sortType == 'firstName' && !sortReverse" class="fa fa-caret-down">
             </span>
             <span ng-show="sortType == 'firstName' && sortReverse" class="fa fa-caret-up"></span>
                 </a>
                </th>
                <th>
                    <a href='{{"#/user/"+id+"/friend"}}' ng-click="sortType = 'lastName'; sortReverse = !sortReverse">

                Last Name
                <span ng-show="sortType == 'lastName' && !sortReverse" class="fa fa-caret-down">
             </span>
             <span ng-show="sortType == 'lastName' && sortReverse" class="fa fa-caret-up"></span>
                 </a>
                </th>
                <th>
                    <a href='{{"#/user/"+id+"/friend"}}' ng-click="sortType = 'mobileNumber'; sortReverse = !sortReverse">

                Mobile Number
                <span ng-show="sortType == 'mobileNumber' && !sortReverse" class="fa fa-caret-down">
             </span>
             <span ng-show="sortType == 'mobileNumber' && sortReverse" class="fa fa-caret-up"></span>
                 </a>

                </th>
                <th>
                    <a href='{{"#/user/"+id+"/friend"}}' ng-click="sortType = 'emailId'; sortReverse = !sortReverse">

                Email Id 
                <span ng-show="sortType == 'emailId' && !sortReverse" class="fa fa-caret-down">
             </span>
             <span ng-show="sortType == 'emailId' && sortReverse" class="fa fa-caret-up"></span>
                 </a>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in friends| orderBy:sortType:sortReverse|filter:searchfriend" ng-click="go(x)">
                <td class="filterable-cell">{{x.firstName}} </td>
                <td class="filterable-cell">{{x.lastName}}</td>
                <td class="filterable-cell">{{x.mobileNumber}}</td>
                <td class="filterable-cell">{{x.emailId}}</td>

            </tr>
        </tbody>
    </table>
    <hr>
    <input ng-model="id" type="text" hidden><br><br> Mobile Number: <input ng-model="mobile" type="number" required><br><br>
    <button class="btn btn-info btn-lg" ng-click="add()">Add Friend Directly </button>
    <br>
    <br>
</div>

</div>