<div ng-controller="rechargeController">
    <button class="btn btn-success btn-lg" ng-click="options()">Go to Payment Options</button>
    <button class="btn btn-danger btn-lg" ng-click="logout()">logout</button>
     <br><br>
    <label>Wallet Balance</label>
    <input type="number" name="" ng-model="wallet" id="" value="" readonly>
    <hr>
    <h2>
        WALLET OPTIONS
    </h2>
     TO: <input ng-model="choice" type=""   readonly><br><br>
     <div ng-if="choice=='Recharge'">
    Mobile Number:<input type="number" name="" ng-model="mobile" id="" value="" ><br><br>
    </div>
     <div ng-if="choice=='Shop'">
    Shop Name:<input type="text" name="" ng-model="shop" id="" value="" ><br><br>
    </div>
     Specify Amount to be paid:<input ng-model="amount" type="number"  required><br><br>
    <button class="btn btn-danger btn-lg" ng-click="pay()"> confirm pay</button>
    <br>
    <br>

</div>