<div ng-controller="transferController">
   <button class="btn btn-success btn-lg" ng-click="options()">Go to Payment Options</button>
    <button class="btn btn-danger btn-lg" ng-click="logout()">logout</button>
    <br><br>
    <label>Wallet Balance</label>
    <input type="number" name="" ng-model="wallet" id="" value="" readonly>
    <hr>
    <h2>
        Send  MONEY to phone Number
    </h2>

</div>
    Specify Amount to be sent<input ng-model="amount" type="number"  required><br><br>
    <button class="btn btn-info btn-lg" ng-click="add()"> confirm send</button>
    <br>
    <br>
     <label>MESSAGE</label>
        <textarea rows='6' cols='40' ng-model="msg">
        </textarea>
    <br>
    <br>
    

</div>