<center>
  <br>
  
      <div>
    <p>E-wallet Management--U can send money or Receive Money and also add Friends</p>
    <a href="#/login" class="btn btn-success" role="button">Login</a>
      <br>
      <br>
    <a href="#/signup" class="btn btn-info" role="button">SignUp</a>

    </div>
</center>